.env
.idea/
__pycache__/
.pytest_cache/
dump.rdb
venv/
.venv/
.ipynb_checkpoints/
*.ipynb
*nohup.out
.DS_Store
scripts/logs
localdata/
scratch/

# vscode editor
.vscode/**/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
.aider*
run_local.py

# Local python version
.python-version
# Local virtualenv
api/
