.env
.idea/
__pycache__/
.pytest_cache/
dump.rdb
venv/
.ipynb_checkpoints/
*.ipynb
*nohup.out

scripts/logs
localdata/
scratch/

# vscode editor
.vscode/**/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
